<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% include 'include/head.html' %}
        {% block head %}
        {% endblock head %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>

        {% block style %}
        {% endblock style %}
</head>
<body>

{% block navbar %}

{% endblock navbar %}

{% block content %}

{% endblock content %}

{% include 'include/script.html' %}

{% block custom_scripts %}

{% endblock custom_scripts %}
</body>
</html>