{% extends 'include/base.html' %}

{% block title %}
    Edit schema
{% endblock title %}

{% block navbar %}
    {% include 'include/header.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <form method="POST" action="">
                {% load widget_tweaks %}
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <div class="form-group col-md-3">

                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                        {{ field|add_class:'form-control col-md' }}

                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div id="form-container">

                    {{ formset.management_form }}
                    {% for form in formset %}
                        {% for form in formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- form.visible fields go here -->
                        {% endfor %}
                        <div class="row schema-form mt-3">
                            {% for field in form.visible_fields %}
                                <div class="form-group col">

                                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                                    {{ field|add_class:'form-control col-md' }}

                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>

                            {% endfor %}
                            <button class=" mt-4 btn btn-danger btn-sm col-md remove-form" type="button">Delete</button>
                        </div>
                    {% endfor %}

                    <button id="add-form" class="btn btn-primary mt-2" type="button">Add Another column</button>
                    <button class="btn btn-success float-right mt-2" type="submit">Update</button>
                </div>

            </form>


        </div>
    </div>

{% endblock content %}

{% block custom_scripts %}
    {% include 'include/dynamic_form2.html' %}
{% endblock custom_scripts %}