{% extends 'include/base.html' %}

{% block title %}
    Schemas
{% endblock title %}

{% block navbar %}
    {% include 'include/header.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container">
        <div class="row mt-4">

            <h3>Data schemas</h3>
            <a class="btn btn-success col-md-3" href="{% url 'schemas:create_schema' %}">Create new schema</a>

            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for schema in schemas %}
                    <tr>
                        <th scope="row">{{ schema.id }}</th>
                        <td><a href="{% url 'schemas:view_schema' schema.id %}">{{ schema.name }}</a></td>
                        <td>{{ schema.created_at }}</td>
                        <td>
                            <span>
                                    <a class="text-warning" href="{% url 'schemas:edit_schema' schema.id %}">Edit</a>
                            </span>

                            <span>
                                <a class="text-danger" href="{% url 'schemas:delete_schema' schema.id %}">Delete</a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}
